.content {
    position: absolute;
    top: 100px;
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    width: 85%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}

.category h1 {
    color: var(--font-h1);
    font-size: 20px;
}

.study-list {
    width: 100%;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-self: center;

    margin: 10px;
}

.study-object {
    margin: 10px;

    height: 175px;
    min-width: 300px;

    border: solid 1px black;

    cursor: pointer;

    display: flex;
    flex-direction: column;
}

.study-info {
    display: flex;
    flex-direction: column;

    height: 50%;
}

.study-info h1 {
    font-size: 25px;
    margin: 5px;
    padding: 5px;
    margin-bottom: 0;
    padding-bottom: 2px;

    color: var(--font-h1);
}

.study-info h3 {
    font-size: 17px;
    padding-left: 10px;

    color: var(--font-h3);
}


.study-info h4 {
    font-size: 14px;
    padding-left: 10px;

    color: var(--font-h3);
    opacity: 50%;
}

