.side-bar {
    position: fixed;
    width: 75px;
    height: 100%;

    border: solid 1px black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 99;
}

.side-bar .content {
    position: absolute;
    display: flex;

    flex-direction: row;
    align-items: center;
    
    justify-content: space-evenly;
    rotate: -90deg;

    height: 50px;
    width: 1000px;
}

.content a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.content .logo {
    width: 50px;
    height: 50px;

    background-color: cyan;
}

.search {
    position: fixed;
    
    top: 10px;
    width: calc(100% - 75px);
    left: 75px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search form {
    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 7px;

    width: 85%;
    max-width: 1000px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search form input {
    padding: 5px;
    font-size: 17px;

    width: 100%;
    background: none;
}

.search form input::placeholder {
    font-style: italic;
}

.search form button {
    padding: 5px;
    font-size: 17px;

    width: 100px;
    background: none;

    cursor: pointer;
}

.side-bar {

}