* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

:root {
	--accent-main: #495AEF;
	--background-main: rgba(0, 0, 0, 0.082);
	--shadow-main: black;
	--border-main: rgba(0, 0, 0, 0.096);
	--font-h1: black;
	--font-h2: black;
	--font-h3: black;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	overflow-x: hidden;
	overflow-y: scroll;

	background-size: cover;
	background-position: center center;
	background-repeat: repeat;

	background-color: white;
}